/* Filter list container styles */
.filter-list-container {
  background: #ffb347;
  border-bottom: 1px solid #dddddd;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

/* Styles for small screens */
@media (max-width: 45rem) {
  .filter-list-container {
    display: block;
  }
}
