/* Vehicles list container styles */
.vehicles-list-container {
    padding: 1rem 2rem 3rem;
}

.vehicles-list-wrapper {
    margin: 0 auto;
    max-width: 90rem;
}

@media (max-width: 45rem) {
    .vehicles-list-container {
        padding: 0 0 3rem;
    }
}